<div class="large-6 large-centered ">

<%= form_for [@commentable, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :body, class:"text-box" %><br>
  </div>

  <%= f.submit "Add Comment", class:"button pink" %><br>
  <% end %>
</div>
