<div class="row">
  <div class="row">
    <div class="large-11 large-centered columns">
      <h2>Favourite Listings</h2>
      <% if current_user %>
        <%= render @favourite_listings%>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-11 large-centered columns">
        <h2>Favourite People</h2>
        <% if current_user %>
          <%= render @favourite_users %>
        <% end %>
    </div>
  </div>
</div>
