/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700);
@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

 body{
   background-color: rgb(255, 239, 173);
  // background-color: rgb(120, 71, 103);
   font-family: 'Cabin', sans-serif;
   color: rgb(56, 48, 57);//dark dark purple
 }
a{
  color: rgb(120, 71, 103);
}
a:hover, a:focus{
  color: rgb(255, 207, 0);
}
.unfave{
  color: red
}
 h1,h2,h3 {
   text-align: center;
   color: rgb(120, 71, 103);//title purple
   font-family: 'Lobster Two', cursive, serif;
   text-shadow: 2px 2px rgb(232, 223, 238);
 }
 h4,h5 {
   text-align: center;
   color: rgb(120,71,103);//title purple
   font-family: 'Lobster Two'
 }

 header { //holds logo
  background-color: rgb(255, 246, 161);//lighter goldenrod
  // rgb(254, 244, 117);//goldenrod
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

label {
  color: rgb(56, 48, 57);//dark dark purple
}
li{
  list-style-type :none;
}

.top-bar {
  background-color: rgb(74, 61, 50);//brownish
  color: white;
  max-height:3rem;
}

footer {
    background-color: rgb(74, 61, 50);//brownish
    color: white;
    height: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

// footer {
//   width: 100%;
//   margin: 0;
//   position: absolute;
// }
a.nav-bar {
  color: rgb(255, 233, 88);//title purple
}

a.nav-bar:hover {
  color: rgb(154, 120, 142);//title purple
}

//buttons
.button {
   border-radius: 20rem;
 }

.mini-buttons {
  display: none;
}

.b.button:hover, .b.button:focus {
   border-radius: 20rem;
   z-index: 15;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
   transition: all 0.1s ease-in-out;
   margin-top: -2px;
}
.button.pink {
 background-color: rgb(237,3,69); //pink
}
.button.pink:hover, .button.pink:focus{
 background-color: rgb(184, 18, 41); //pink
}

.button.green {
 background-color: rgb(3,195,131);//green
}
.button.green:hover, .button.green:focus{
 background-color: rgb(12, 138, 96);//green
 }

.button.purple {
   background-color: rgb(113,1,98);//purple
}
.button.purple:hover, .button.purple:focus{
 background-color: rgb(73, 7, 64);//purple
}

.button.orange {
   background-color: rgb(239,106,50);//orange
}
.button.orange:hover, .button.orange:focus{
 background-color: rgb(180, 84, 44);//orange
}

.content {
  background-color:rgb(255, 252, 240) ;
  border-left: solid 2px rgb(74, 61, 50);//brownish
  border-right: solid 2px rgb(74, 61, 50);//brownish
}

.header {
  background-image: url('/toronto2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 16rem;
  border-bottom-left-radius: 5.5rem;
  border-bottom-right-radius: 5.5rem;
  box-shadow: 0px 5px 10px 0px rgb(120, 71, 103);
}
.checkboxes ul{
  list-style-type: none;
}
// .check-box{
//   display:none;
// }

.check-label-colour {
  color: white;
  border-radius: .5em;
  background-color:rgb(152, 131, 144) ;
}
.text-box{
  height:7rem;
}

.listing-options{
  border-radius: 1em;
  border: 1px solid  rgb(172, 131, 158);//medium grey purple
  background-color: rgb(255, 232, 247);//light purple
  padding: .41rem;
}

.radio-button{
  display:none;
}

.rb:hover, .rb:focus{
  background-color: rgb(120, 71, 103);//title purple
  color:white;
  border-radius: .5rem;
}

.radio-label-colour {
  color: white;
  border-radius: .5em;
  background-color:rgb(152, 131, 144) ;
}

.single-card ul {
  font-size: 12px;
  background-color: rgb(255, 246, 161);//lighter goldenrod
  border-radius: 2rem;
  margin: .5rem .5rem;
  padding: .5rem;
  height: 18rem;
  width: 13rem;
  float: left;
  list-style-type: none;
  text-align: center;
  overflow-y: auto;
}

@media (max-width: 500px){
  .top-bar {
    font-size: 12px;
  }

  .header {
    background-image: url('/homes_gradient_2.png');
    height: 10em;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  header { //holds logo
   background-color: rgb(255, 246, 161);//goldenrod
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
 }

 //buttons
 .buttons {
    display: none;
  }

  .mini-buttons {
    display: block;
  }

.button-logo {
  height: 50px;
  }
}

@media (max-width: 375px){
  .header {
    height: 8em;
  }

  .button-logo {
    height: 40px;
  }
}
