// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// div.single-card :hover {
//   z-index: 4;
//   -webkit-transition: all 0.1s ease-in-out;
//   -moz-transition: all 0.1s ease-in-out;
//   -o-transition: all 0.1s ease-in-out;
//   transition: all 0.1s ease-in-out;
//   margin-top: -1%;
//   // margin-bottom: 2.5%;
// }
.listing-options{
  border-radius: 1em;
  border: 1px solid  rgb(172, 131, 158);
  background-color: rgb(255, 232, 247);
}

.single-card ul {
  font-size: 12px;
  background-color: rgb(254, 244, 117);//goldenrod
  border-radius: 2rem;
  margin: .5rem .5rem;
  padding: .5rem;
  height: 20rem;
  width: 13rem;
  float: left;
  list-style-type: none;
  text-align: center;
  overflow-y: auto;
}

.nearby-card {
  background-color: rgb(254, 244, 117);//goldenrod
  width: 13rem;
  height: 15rem;
  border-radius: 2rem;
  margin: 5% 5%;
  padding: .5rem;
  overflow-y:auto;
  float:right;
}

.thumbnail:hover, .thumbnail:focus {
  box-shadow: 0px 5px 10px 0px rgb(120, 71, 103);
}
.thumbnail{
  border-radius: 10%;
}

 #map-index {
   height: 25em;
   width: 90%;
   margin: 0 5%;
 }

 #map-show {
   height: 15em;
   width: 90%;
   margin: 0 5%;
 }

 #pagination {
   text-align: center;
 }
 div.features_cloud ul.features {
    margin: 0 15% 0 10%;
    list-style-type: none;
    text-align: center;
  }

  div.features_cloud li {
    background-color: white;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 10%;
    display: inline-block;;
  }

  div.features_cloud li.grey {
    background-color: rgb(250, 240, 209);
    color: rgb(117, 117, 117);
  }
